@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50px);
  }
}

@keyframes blink {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes flip {
  0%,
  20% {
    transform: rotateY(0deg) scale(1);
  }
  20%,
  40% {
    transform: rotateY(180deg) scale(1.5);
  }
  40%,
  60% {
    transform: rotateY(180deg) scale(1.5);
  }
  60%,
  80% {
    transform: rotateY(360deg) scale(1);
  }
  80%,
  100% {
    transform: rotateY(360deg) scale(1);
  }
}

@keyframes slide-down-right {
  0%,
  40% {
    transform: skewY(0);
  }
  60%,
  100% {
    transform: skewY(10deg);
  }
}

@keyframes towhite {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(1000%);
  }
  100% {
    filter: brightness(100%);
  }
}

@keyframes toblue {
  0% {
  }
  50% {
    filter: invert(54%) sepia(53%) saturate(5481%) hue-rotate(164deg)
      brightness(98%) contrast(101%);
  }
}
