
footer {
    position: relative;
    width: 100%;
    height: 170px;
    background: #464547;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
  
  .footer__box {
    position: relative;
    padding-left: 10vw;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
  }
  .footer__box1 {
    padding-top: 20px;
  }
  
  .footer__heading {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .footer__text1 {
    display: block;
    margin-bottom: 20px;
  }
  .footer__text2 {
    text-decoration: none;
  }
  .footer__text3 {
    text-align: center;
    padding-top: 40px;
  }
}