body {
  margin: 0;
  font-family: "Oswald";
  font-style: normal;
}header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 50px 0 0 100px;
  width: calc(100% - 200px);
  padding: 0 20px;
  box-sizing: border-box;
}

header ul, a {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  text-decoration: none;
  color: #ffffff;
}
header ul li {
  padding-right: 100px;
  margin: 0 20px 0 20px;
  display: inline-block;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
header ul li a,
header {
  color: #ffffff;
  text-decoration: none;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Styles for the mobile version */
@media (max-width: 768px) {
  body {
    width: 768px;
  }
  header {
    width: 768px;
  }
  header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 50px 0 0 20px;
    width: calc(100% - 40px);
    padding: 0;
    box-sizing: border-box;
  }
  .header-list__item {
    display: none;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 4px;
  }
}
