.mainpage{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainpage-background{
  width: 100%;
  height: 100vh;
  background-image: url(../assets/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mainpage-text__over__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
}
.mainpage-headline__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}
.mainpage-headline__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.7);
}
.mainpage-little__stars{
  position: absolute;
  left: 66vw;
  animation: moveLeft 5s infinite;
}
.mainpage-stars{
  position: absolute;
  left: 66vw;
  width: 600px;
  height: auto;
  animation: blink 5s infinite;
}
.mainpage-logo:hover {
  animation: flip 3s linear infinite;
}
