
@media (max-width: 768px) {
    body {
      width: 768px;
    }
    .header {
      width: 768px;
    }
    header {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: start;
      margin: 50px 0 0 20px;
      width: calc(100% - 40px);
      padding: 0;
      box-sizing: border-box;
    }
    .header__texts {
      display: none;
    }
    .hamburger-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 20px;
      cursor: pointer;
    }
  
    .hamburger-menu span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
      margin-bottom: 4px;
    }
    .secondpage__text {
      grid-template-columns: none;
      grid-template-rows: 1fr 1fr;
    }
    footer {
      height: fit-content;
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .footer__box {
      padding: 0;
      grid-template-columns: none;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }
  