.secondpage {
  text-align: center;
  height: 700px;

  .secondpage__headline {
    margin-top: 87px;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #464547;
  }

  .secondpage__headline2 {
    font-family: $font-family-source-sans-pro;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #667667;
    margin-top: 40px;
  }

  .secondpage__text{
    font-family: $font-family-source-sans-pro;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #667667;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80vw;
  }

  .secondpage__button {
    width: 115px;
    height: 36px;
    background: #55c2d8;
    border-radius: 18px;
    border-color: #55c2d8;
    font-family: $font-family-oswald;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #ffffff;
  }
  .secondpage__button:hover {
    animation: slide-down-right 2s ease infinite alternate;
    transform-origin: left;
  }
  
}
