.thirdpage {
  position: relative;
  text-align: center;
  font-style: normal;
  color: #ffffff;
  height: 800px;

  .thirdpage__background {
    width: 100%;
    height: 800px;
  }

  .thirdpage__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .thirdpage__heading {
    font-family: $font-family-oswald;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
  }

  .thirdpage__text {
    font-family: $font-family-source-sans-pro;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    width: 390px;
  }

  .thirdpage__button {
    background-color: transparent;
    border: none;
    position: relative;
    border: none;
  }
  .thirdpage__circle:hover{
    animation: towhite 1s infinite;
  }
  .thirdpage__circle:hover + .thirdpage__arrow{
    animation: toblue 1s infinite;
  }
  .thirdpage__arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }
  
}