@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50px);
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes flip {
  0%, 20% {
    transform: rotateY(0deg) scale(1);
  }
  20%, 40% {
    transform: rotateY(180deg) scale(1.5);
  }
  40%, 60% {
    transform: rotateY(180deg) scale(1.5);
  }
  60%, 80% {
    transform: rotateY(360deg) scale(1);
  }
  80%, 100% {
    transform: rotateY(360deg) scale(1);
  }
}
@keyframes slide-down-right {
  0%, 40% {
    transform: skewY(0);
  }
  60%, 100% {
    transform: skewY(10deg);
  }
}
@keyframes towhite {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(1000%);
  }
  100% {
    filter: brightness(100%);
  }
}
@keyframes toblue {
  50% {
    filter: invert(54%) sepia(53%) saturate(5481%) hue-rotate(164deg) brightness(98%) contrast(101%);
  }
}
body {
  margin: 0;
  font-family: "Oswald";
  font-style: normal;
}

header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 50px 0 0 100px;
  width: calc(100% - 200px);
  padding: 0 20px;
  box-sizing: border-box;
}

header ul, a {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  text-decoration: none;
  color: #ffffff;
}

header ul li {
  padding-right: 100px;
  margin: 0 20px 0 20px;
  display: inline-block;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

header ul li a,
header {
  color: #ffffff;
  text-decoration: none;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Styles for the mobile version */
@media (max-width: 768px) {
  body {
    width: 768px;
  }
  header {
    width: 768px;
  }
  header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 50px 0 0 20px;
    width: calc(100% - 40px);
    padding: 0;
    box-sizing: border-box;
  }
  .header-list__item {
    display: none;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 4px;
  }
}
.mainpage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainpage-background {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mainpage-text__over__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
}

.mainpage-headline__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}

.mainpage-headline__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.7);
}

.mainpage-little__stars {
  position: absolute;
  left: 66vw;
  animation: moveLeft 5s infinite;
}

.mainpage-stars {
  position: absolute;
  left: 66vw;
  width: 600px;
  height: auto;
  animation: blink 5s infinite;
}

.mainpage-logo:hover {
  animation: flip 3s linear infinite;
}

.secondpage {
  text-align: center;
  height: 700px;
}
.secondpage .secondpage__headline {
  margin-top: 87px;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #464547;
}
.secondpage .secondpage__headline2 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #667667;
  margin-top: 40px;
}
.secondpage .secondpage__text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #667667;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 80vw;
}
.secondpage .secondpage__button {
  width: 115px;
  height: 36px;
  background: #55c2d8;
  border-radius: 18px;
  border-color: #55c2d8;
  font-family: "Oswald";
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.secondpage .secondpage__button:hover {
  animation: slide-down-right 2s ease infinite alternate;
  transform-origin: left;
}

.thirdpage {
  position: relative;
  text-align: center;
  font-style: normal;
  color: #ffffff;
  height: 800px;
}
.thirdpage .thirdpage__background {
  width: 100%;
  height: 800px;
}
.thirdpage .thirdpage__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.thirdpage .thirdpage__heading {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}
.thirdpage .thirdpage__text {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  width: 390px;
}
.thirdpage .thirdpage__button {
  background-color: transparent;
  border: none;
  position: relative;
  border: none;
}
.thirdpage .thirdpage__circle:hover {
  animation: towhite 1s infinite;
}
.thirdpage .thirdpage__circle:hover + .thirdpage__arrow {
  animation: toblue 1s infinite;
}
.thirdpage .thirdpage__arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  position: relative;
  width: 100%;
  height: 170px;
  background: #464547;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}
footer .footer__box {
  position: relative;
  padding-left: 10vw;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}
footer .footer__box1 {
  padding-top: 20px;
}
footer .footer__heading {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}
footer .footer__text1 {
  display: block;
  margin-bottom: 20px;
}
footer .footer__text2 {
  text-decoration: none;
}
footer .footer__text3 {
  text-align: center;
  padding-top: 40px;
}

@media (max-width: 768px) {
  body {
    width: 768px;
  }
  .header {
    width: 768px;
  }
  header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 50px 0 0 20px;
    width: calc(100% - 40px);
    padding: 0;
    box-sizing: border-box;
  }
  .header__texts {
    display: none;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .hamburger-menu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 4px;
  }
  .secondpage__text {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }
  footer {
    height: -moz-fit-content;
    height: fit-content;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer__box {
    padding: 0;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=style.css.map */